# Default ignored files
shelf/
workspace.xml

# Editor-based HTTP Client requests
httpRequests/

# Datasource local storage ignored files
dataSources/

.idea/

.DS_Store
#Clion specific files
.idea/

#CMake
cmake-build-debug/
cmake_helpers

#build folder
build/

#obj files
*.o

#clang-format
.clang-format

#clangd configuration files
.cache/

#VSCode specific files
.vscode/
